#btnGroup {
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#canvasGroup {
    width: 500px;
    height: 650px;
    position: relative;
    margin-left: 50px;
}

#wordY {
    position: absolute;
    left: -15px;
}

#show {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

input {
    width: 80px;
}

#table,
#square {
    position: absolute;
    top: -25px;
    left: -25px;
}